<%- include('partials/header3')%>

<!-- naviを挿入予定 -->
<form action="/approve_tr" method="post">
  <input type="hidden" name="year" value="<%- year %>">
  <input type="hidden" name="month" value="<%- month %>">
  <input type="hidden" name="status" value="1=1">
  <input type="hidden" name="employee" value="1=1">
  <button name="last" value="-1">◀</button>
  <h1><%- year %>年<%- month %>月分</h1>
  <button name="next" value="+1">▶</button>  
</form>

<h1>経理承認画面</h1>
<h2><a href="/approve_ex">経費</a></h2>
<h2>交通費</h2>

<form action="/approve_tr" method="post">
  <input type="hidden" name="year" value="<%- year %>">
  <input type="hidden" name="month" value="<%- month %>">
  <p>表示条件：ステータス</p>
  <select name="status" id="status">
    <option value="1=1">全て</option>
    <option value="status='00'">未申請</option>
    <option value="status='11'">JobM申請中</option>
    <option value="status='19'">JobM却下</option>
    <option value="status='21'">経理申請中</option>
    <option value="status='29'">承認</option>
    <option value="status='88'">却下</option>
  </select>
  <p>社員</p>
  <select name="employee" id="employee">
    <option value="1=1">全て</option>
    <% for(var i=0;i<shain.length;i++){ %> 
    <option value="emp_no='<%- shain[i].emp_no %>'"><%- shain[i].emp_name %></option>
    <% } %> 
  </select>
  <input type="submit" name="display" value="表示">  
</form>

<table>
  <tr>
    <th>承認</th>
    <th>却下</th>
    <th>月</th>
    <th>日</th>
    <th>From</th>
    <th>Via</th>
    <th>To</th>
    <th>交通手段</th>
    <th>単価</th>
    <th>回数</th>
    <th>小計</th>
    <th>立替</th>
    <th>Jobc</th>
    <th>refNo</th>
    <th>ステータス</th>
    <th>コメント</th>  
    <th>経路検索</th>  
  </tr>
</table>
<form action="/approve_tr" method="post">
  <% var jn; %> 
  <% if(rireki[0]==null){ %>
    <p>該当データはありません</p>
  <% }else{ %> 
  <% for(var i=0;i<shain.length;i++){ %> 
    <p>社員名：<%- shain[i].emp_name %></p> 
    <% jn=0; %> 
    <% for(var j=0;j<rireki.length;j++){ %>
      <% if(rireki[j].emp_no===shain[i].emp_no&&rireki[j].job_no!==jn){ %>
        <p><%- rireki[j].job_no %></p>
        <% jn=rireki[j].job_no; %> 
      <% for(var k=0;k<rireki.length;k++){ %>
        <% if(shain[i].emp_no===rireki[k].emp_no&&rireki[k].job_no===rireki[j].job_no){ %>
          <table class="info">
            <tr>
              <td><input type="checkbox" class="check" name="approve" id="approve" value="emp_no='<%- rireki[k].emp_no %>' and sheet_year='<%- rireki[k].sheet_year %>' and sheet_month='<%- rireki[k].sheet_month %>' and branch_no='<%- rireki[k].branch_no %>'"></td>
              <td><input type="checkbox" class="check" name="deny" id="deny" value="emp_no='<%- rireki[k].emp_no %>' and sheet_year='<%- rireki[k].sheet_year %>' and sheet_month='<%- rireki[k].sheet_month %>' and branch_no='<%- rireki[k].branch_no %>'"></td>
              <td><%- rireki[k].month %></td>
              <td><%- rireki[k].day %></td>
              <td><%- rireki[k].trans_from %></td>
              <td><%- rireki[k].trans_waypoint %></td>
              <td><%- rireki[k].trans_to %></td>
              <td><%- rireki[k].trans_type %></td>
              <td><%- rireki[k].amount %></td>
              <td><%- rireki[k].count %></td>
              <td>小計</td>
              <td><input type="checkbox" name="tatekae" id="tatekae"></td>
              <td><input type="checkbox" name="jobc" id="jobc"></td>
              <td><%- rireki[k].ref_no %></td>
              <% if(rireki[k].status=="00"){ %>
                <td>未申請</td>
              <% }else if(rireki[k].status=="11"){ %> 
              <td>ジョブマネ申請中</td>
              <% }else if(rireki[k].status=="19"){ %> 
              <td>ジョブマネ却下</td>
              <% }else if(rireki[k].status=="21"){ %>
              <td>経理申請中</td>
              <% }else if(rireki[k].status=="29"){ %>
              <td>経理却下</td>
              <% }else if(rireki[k].status=="88"){ %>  
              <td>承認</td>
              <% } %> 
              <td><%- rireki[k].remarks %></td>
              <td><input type="button" value="検索"></td>
              <td>コメント<input type="text"></td>  
              <input type="hidden" name="emp_no" value="<%- rireki[k].emp_no %>">
              <input type="hidden" name="year" value="<%- rireki[k].sheet_year %>"> 
              <input type="hidden" name="month" value="<%- rireki[k].sheet_month %>"> 
              <input type="hidden" name="branch_no" value="<%- rireki[k].branch_no %>">  
            </tr>
          </table>  
        <% } %>  
      <% } %> 
      <% } %>  
    <% } %>  
  <% } %> 
  <% } %> 
  <input type="button" id="checkall" name="checkall" onclick="checkAll()" value="すべてを承認">
  <input type="button" onclick="uncheckAll()" value="チェックを全解除">
  <input type="submit" name="decide" value="確定">  
</form>
<script>
  const checkbox1 = document.getElementsByName("approve")

  function checkAll() {
    for(i = 0; i < checkbox1.length; i++) {
      checkbox1[i].checked = true
    }
  }
  
  const checkbox2 = document.getElementsByName("approve")
  const checkbox3 = document.getElementsByName("deny")
  function uncheckAll() {
    for(i = 0; i < checkbox2.length; i++) {
      checkbox2[i].checked = false
      checkbox3[i].checked = false
    }
  }

  $('#get_values').on('click', function() {

  var vals = []; // 配列を定義
  $('input[name="checks"]:checked').each(function() {
      vals.push( $(this).val() ); // 配列に値を追加
  });

  console.log(vals);
  });

  jQuery(function($){
    $('input:checkbox').click(function() {
      $(this).closest('.info tr').find('input:checkbox').not(this).prop('checked', false);
    });
  });

</script>

<%- include('partials/footer')%>