<!-- <!DOCTYPE html>
<html>
  <head class= 'container p-3'>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' 
    href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css' />
    
  <body class="body"> -->

    <%- include("partials/header") %>

    <!-- 左上部分 -->
    <div class="header">
    <form method="POST" action="/jmkotsuhi">
    <h1><%= title %> 交通費データ </h1>
    <input type="hidden" name="hiddenmonth" value=<%= h3 %>>
    <h3><%= h3 %></h3>
    <input type="submit" id='previousmonth' value="先月データ" class="previousmonth" name='previousmonth'>
    <input type="submit" id='nextmonth' value="次月データ" class="nextmonth" name='nextmonth'>
    <div class="all">
      <div class="form-group btn">
        <input type="button" id="b1" value="経費" class="btn btn-primary b1" onclick="location.href='http://localhost:3000/jmkehi'">
        <input type="button" id="b2" value="交通費" class="btn btn-primary b2" onclick="location.href='http://localhost:3000/jmkotsuhi'">
      </div>

      <!-- 右上部分 -->
        <div class='list'>
          <div class='form-group'>
            <label>ステータス</label>
            <select id='status' name='status' class='status form-control'>
              <option>全て</option>
              <option>未申請</option>
              <option>JM申請中</option>
              <option>経理申請中</option>
              <option>承認</option>
              <option>却下</option>
            </select>
          </div>
          <div class='form-group'>
            <label>社員</label>
            <select id='employee' name='employee' class='employee form-control'>
              <option>全て</option>
              <option>aaaaaaa</option>
              <option>bbb</option>
              <option>ccc</option>
            </select>
          </div>
          <div class='form-group'>
            <label>ジョブコード/ジョブ名</label>
            <select id='employee' name='employee' class='job form-control'>
              <option>全て</option>
              <option>aaaaaaaaaaaaaaa</option>
              <option>bbb</option>
              <option>ccc</option>
            </select>
          </div>
          <div class='form-group'>
            <label>期間</label>
            <select id='employee' name='employee' class='span form-control'>
              <option>全て</option>
              <option>2021/06</option>
              <option>2021/05</option>
              <option>2021/04</option>
            </select>
          </div>
        </div>
          <input type="submit" id='narrowDown' value="絞り込む" class="btn btn-warning narrowDown" name='narrowDown'>
    </div>
    </form>


  <table class="st-tbl1">
  <!-- <table border="1"> -->
    <!-- テーブルタイトル -->
    <thead>
      <colgroup>
        <col class="col1" style='width:6.4%;'>
        <col class="col2" style='width:4.2%;'>
        <col class="col3" style='width:5%;'>
        <col class="col4" style='width:5%;'>
        <col class="col5" style='width:5%;'>
        <col class="col6" style='width:5%;'>
        <col class="col7" style='width:5%;'>
        <col class="col8" style='width:5%;'>
        <col class="col9" style='width:5%;'>
        <col class="col10" style='width:5%;'>
        <col class="col11" style='width:5%;'>
        <col class="col12" style='width:2.8%;'>
        <col class="col13" style='width:2.8%;'>
        <col class="col14" style='width:39.2%;'>
      </colgroup>
    <tr align="center" >
      <th rowspan="2">ステータス</th>
      <th rowspan="2">RefNo</th>
      <th rowspan="2">利用日</th>
      <th rowspan="2">手段</th>
      <th rowspan="2">From</th>
      <th rowspan="2">To</th>
      <th rowspan="2">回数</th>
      <th rowspan="2">立替</th>
      <th rowspan="2">JobC</th>
      <th rowspan="2">単価</th>
      <th rowspan="2">小計</th> 
      <th colspan="4" class="syoninn">JM承認</th>
    </tr>
    <tr align="center" >
      <th class="syoninn1">承認</th>
      <th class="kyakka">却下</th>
      <th class="comment">コメント入力</th>
    </tr>
    </thead>
  </table>
</div>

    <form method="POST" action="/jmkotsuhi" name='set'>
    <div class="data">

    <!-- ここから下がセット -->
    <table class="st-tbl2">
      <tr> 
        <th class="employeeT"><%= emp_no %></th>
        <th class="jobT"><%= job_no %></th>
        <th class="sumT">合計金額（DBより）</th>
      </tr>
    </table>

    <!-- サンプル -->
  <div class="div-tbl3">
  <table class="st-tbl3">
    <colgroup>
      <col class="col1" style='width:6.4%;'>
      <col class="col2" style='width:4.2%;'>
      <col class="col3" style='width:5%;'>
      <col class="col4" style='width:5%;'>
      <col class="col5" style='width:5%;'>
      <col class="col6" style='width:5%;'>
      <col class="col7" style='width:5%;'>
      <col class="col8" style='width:5%;'>
      <col class="col9" style='width:5%;'>
      <col class="col10" style='width:5%;'>
      <col class="col11" style='width:5%;'>
      <col class="col12" style='width:2.8%;'>
      <col class="col13" style='width:2.8%;'>
      <col class="col14" style='width:37.8%;'>
    </colgroup>
    <tbody>
    <div class='tbody'>
      <% for(let i in status) { %> 
      <tr align="center" >
      <td><%=status[i] %></td>
      <td><%=ref_no[i] %></td>
      <td><%=day[i] %></td>
      <td><%=trans_type[i] %></td>
      <td><%=trans_from[i] %></td>
      <td><%=trans_to[i] %></td>
      <td><%=count[i] %></td>
      <td><input id="chkbox0" type="checkbox"/></td>
      <td><input id="chkbox0" type="checkbox"/></td>
      <td bgcolor="lightgrey"><%= amount[i] %></td>
      <td bgcolor="lightgrey"><%= subtotal[i] %></td>
      <td rowspan="2">
        <input type="radio" class='form-control' value="1" onclick="radioDeselection(this, 1)" name=<%= radioname[i] %> />
      </td>
      <td rowspan="2">
        <input type="radio" class='form-control' value="2" onclick="radioDeselection(this, 2)" name=<%= radioname[i] %> />
      </td>
      <td rowspan="2">
        <input type="text" class='form-control'/>
      </td>
    </tr>
    <tr>
      <td colspan="11" class="bikoran"><%=remarks %></td>
    </tr>
    <% } %>   

  <!-- ここから上がセット -->
  

  

</div>

  

  

  <!-- 右下部分 -->
  <div class="form-group btn1">
    <input type="button" id="b4" name='b4' value="全て承認にチェック" class="btn btn-light b4" onClick="allcheck(set,1)">
    <input type="button" id="b3" name='b3' value="全てのチェックを解除" class="btn btn-light b3" onClick="allcheckout(set)">
    <input type="submit" id='confirm' value="確定" class="btn btn-warning confirm" name='confirm'>
  </div>
</form>

<%- include("partials/footer") %>