<%- include('partials/header3')%>

<nav class="navbar">
  <ul class="top">
    <h3>リマインド画面</h3>
    <li><a href="/approve_ex">承認画面</a></li>
  </ul>
  <ul class="bottom">
    <li><a href="/remind_ex">経費</a></li>
    <h3>交通費</h3>
  </ul>
</nav>

<h2><span id="year"></span>年<br>
  <span id="date"></span>分</h2>

  <form action="/remind_tr/post" method="post">
    <% var jn; %> 
    <% if(rireki[0]==null&&rireki[j].status!="00"){ %>
      <p>該当データはありません</p>
    <% }else{ %> 
    <% for(var i=0;i<shain.length;i++){ %> 
        <% jn=0; %> 
        <% for(var j=0;j<rireki.length;j++){ %>
          <% if(rireki[j].emp_no===shain[i].emp_no&&rireki[j].job_no!==jn&&rireki[j].status=="00"){ %>
            <% jn=rireki[j].job_no; %> 
        <table>
          <tr>
            <th width="15%">リマインド</th>
            <th width="15%">ステータス</th>
            <th width="15%">社員番号</th>
            <th width="15%">社員名</th>
            <th width="40%">メールアドレス</th>
          </tr>

      <tr>
        <td><input type="checkbox" class="item" name="checks" value= "<%= shain[i].emp_mail %>" ></td>
        <td>経費保存</td>
        <td><%- shain[i].emp_no %></td>
        <td><%- shain[i].emp_name %></td>
        <td><%- shain[i].emp_mail %></td> 
      </tr>
    </table>
  
  <table>
    <tr>
      <th width="4%">月</th>
      <th width="4%">日</th>
      <th width="11%">From</th>
      <th width="11%">Via</th>
      <th width="11%">To</th>
      <th width="8%">交通手段</th>
      <th width="7%">単価</th>
      <th width="5%">回数</th>
      <th width="7%">小計</th>
      <th width="7%">立替</th>
      <th width="7%">Job.C</th>
      <th width="7%">Ref.No</th>
      <th width="11%">ステータス</th>
    </tr>
  </table>

          <p><%- rireki[j].job_no %></p>
        <% for(var k=0;k<rireki.length;k++){ %>
          <% if(shain[i].emp_no===rireki[k].emp_no&&rireki[k].job_no===rireki[j].job_no&&rireki[k].status=="00"){ %>
            <table class="info">
                <tr>
                <td width="4%" class="first" rowspan="2"><%- rireki[k].month %></td>
                <td width="4%" class="first" rowspan="2"><%- rireki[k].day %></td>
                <td width="11%"><%- rireki[k].trans_from %></td>
                <td width="11%"><%- rireki[k].trans_waypoint %></td>
                <td width="11%"><%- rireki[k].trans_to %></td>
                <% const shudan = rireki[k].trans_type;
                //console.log(shudan);
                    function hoge(){
                      if (shudan === "1") {
                        return("電車");
                      } else if (shudan === "2") {
                        return("タクシー");
                      } else if (shudan === "3") 
                        return("バス");
                      }
                      var type = hoge();
                      //console.log(type);
                      %>
                <td width="8%"><%- type %></td>
                <td width="7%"><%- rireki[k].amount %></td>
                <td width="5%"><%- rireki[k].count %></td>
                <td width="7%"><%- rireki[k].amount*rireki[k].count %></td>
                <% if(rireki[k].claim_flag=="0"){ %>
                  <td width="7%"><input type="checkbox" name="tatekae" id="tatekae"></td>
                <% }else if(rireki[k].claim_flag=="1"){ %> 
                  <td width="7%"><input type="checkbox" name="tatekae" id="tatekae" checked="checked"></td>
                <% } %>      

                <% if(rireki[k].charge_flag=="0"){ %>
                  <td width="7%"><input type="checkbox" name="jobc" id="jobc"></td>
                <% }else if(rireki[k].charge_flag=="1"){ %> 
                  <td width="7%"><input type="checkbox" name="jobc" id="jobc" checked="checked"></td>
                <% } %>  
                
                <td width="7%"><%- rireki[k].ref_no %></td>
                <% if(rireki[k].status=="00"){ %>
                  <td width="11%" class="first" rowspan="2">未申請</td>
                <% }else if(rireki[k].status=="11"){ %> 
                  <td width="11%" class="first" rowspan="2">JM申請中</td>
                <% }else if(rireki[k].status=="19"){ %> 
                  <td width="11%" class="first" rowspan="2">JM却下</td>
                <% }else if(rireki[k].status=="21"){ %>
                  <td width="11%" class="first" rowspan="2">経理申請中</td>
                <% }else if(rireki[k].status=="29"){ %>
                  <td width="11%" class="first" rowspan="2">経理却下</td>
                <% }else if(rireki[k].status=="88"){ %>  
                  <td width="11%" class="first" rowspan="2">承認</td>
                <% } %>                
               <input type="hidden" name="emp_no" value="<%- rireki[k].emp_no %>">
                <input type="hidden" name="year" value="<%- rireki[k].sheet_year %>"> 
                <input type="hidden" name="month" value="<%- rireki[k].sheet_month %>"> 
                <input type="hidden" name="branch_no" value="<%- rireki[k].branch_no %>">  
              </tr>
              <tr>
                <td class="comment" colspan="20"><%- rireki[k].remarks %></td>
              </tr>
            </table>  
          <% } %>  
        <% } %> 
        <% } %>  
      <% } %>  
    <% } %> 
    <% } %> 
 
<div class="box">
  <input type="button" id="checkall" name="checkall" onclick="checkAll()" value="全選択" class="allcheck">
  <input type="button" onclick="uncheckAll()" value="全解除" class="allcheck">
  <input type="button" data-toggle="modal" data-target="#sampleModal" data-watasu="XXX@skylight.co.jp" id="get_values" value="リマインド送信" class="send_mail">
</div>
    
<!-- モーダル・ダイアログ -->
<div class="modal" id="sampleModal" tabindex="-1">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
<h4 class="modal-title">送信文面</h4>
</div>
<div class="modal-body">    
<!-- <span id="morau"></span><input type="hidden"><br> -->
<!-- <input type="text" id="food" value=""> -->
<textarea name=textarea  id="food" rows=”10″ cols=”200″ wrap=”hard” >
各位お疲れさまです。
経理の●●です。

●月分の交通費精算に「未申請」のデータがあるようです。
・必要なレコードは申請
・不要なレコードは削除の対応をお願いします。

ご確認のほどどうぞよろしくお願いいたします。
●●
</textarea>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">戻る</button>
<button type="submit" id="btn1" class="btn btn-primary">送信</button>
</form>
</div>
</div>
</div>
</div>   
<script>
const checkbox1 = document.getElementsByName("checks")

function checkAll() {
for(i = 0; i < checkbox1.length; i++) {
checkbox1[i].checked = true
}
}

const checkbox2 = document.getElementsByName("checks")
function uncheckAll() {
for(i = 0; i < checkbox2.length; i++) {
checkbox2[i].checked = false
}
}

$('#btn1').on('click', function() {
var vals = []; // 配列を定義
$('input[name="checks"]:checked').each(function() {
vals.push( $(this).val() ); // 配列に値を追加
});

console.log(vals);
});

$('#sampleModal').on('show.bs.modal', function (event) {
//モーダルを開いたボタンを取得
var button = $(event.relatedTarget);
//data-watasuの値取得
var watasuVal = button.data('watasu');
//モーダルを取得
var modal = $(this);
//受け取った値をspanタグのとこに表示
modal.find('.modal-body span#morau').text('to  '+watasuVal);
});

// モーダルの中の「送信」を押した時の処理
$("#btn1").on('click', function() {
$('#sampleModal').modal('hide');
var foodVal = $('#food').val();
//$('#re').text(foodVal);
//console.log(foodVal)
});

jQuery(function($){
$('input:checkbox').click(function() {
$(this).closest('.info tr').find('input:checkbox').not(this).prop('checked', false);
});
});

var doSomething = function() {
  alert(success);
};

doSomething();

</script>

<%- include('partials/footer')%>